**
!ecommerce-gateway/Dockerfile
!ecommerce-gateway/docker/entrypoint.sh
!ecommerce-gateway/target/ecommerce-gateway-1.0.1-SNAPSHOT.jar
!services/trade-service/Dockerfile
!services/trade-service/docker/entrypoint.sh
!services/trade-service/target/trade-service-1.0.1-SNAPSHOT.jar
