**
!ecommerce-gateway/Dockerfile
!ecommerce-gateway/docker/entrypoint.sh
!ecommerce-gateway/target/ecommerce-gateway-0.1.0-SNAPSHOT.jar
!services/trade-service/Dockerfile
!services/trade-service/docker/entrypoint.sh
!services/trade-service/target/trade-service-0.1.0-SNAPSHOT.jar
