PLAINJOURNAL_IMAGE_PREFIX=plainjournal
PLAINJOURNAL_FRONTEND_TAG=local
PLAINJOURNAL_GATEWAY_HOST=host.docker.internal
PLAINJOURNAL_GATEWAY_PORT=18000
PLAINJOURNAL_OCI_CREATED=unknown
PLAINJOURNAL_OCI_REVISION=unknown
PLAINJOURNAL_OCI_SOURCE=https://github.com/NoctilumeDev/PlainJournal
PLAINJOURNAL_OCI_VERSION=local
